<h3>家ラーメン一覧(<%= @noodles_count.count %>)</h3>
<div class="noodles_index">
  <div class="row">
    <div class="col-md-9">
      <%= render "noodles/noodles" %>
    </div>
    <div class="col-md-3">
      <p><%= link_to "投稿", new_noodle_path, class: "btn btn-lg btn-record" %></p>
    </div>

  </div>
  <%= paginate @noodles %>
</div>