<%= link_to "/favorites/#{@noodle.id}/destroy", method: :delete, class: "unlike", remote: true do %>
  <div class="like-btn-unlike"><i class="fa fa-heart"></i> <%= @noodle.favorites.count %></div>
<% end %>