/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// 全体
 body {
  background: #EAEDED;
 }

 header {
  // position: relative;
  // background-image: url(ramen.jpg);
  // background-size: cover;
  // height: 300px;
  // background-position: center;
  // background-color:rgba(255,255,255,0.8);
  // background-blend-mode:lighten;
  border-bottom: 1px solid #DDD;
  nav {
    .navbar-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        padding-top: 8px;
        padding-left: 10px;
        text-align: right;
        a {
          color: #212529;
        }
      }
      .on_notification {
        a {
          color: #f60;
        }
      }
    }

  }
  .dropdown-menu {
    background-color: transparent;
    border: 0;
    a {
      color: #212529;
    }
  }
  form {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 10px;
    opacity: 0.7;
    span {
      background-color: white;
      border-radius: 0 .25rem .25rem 0;
    }
  }
}
// background-image: url(ramen.jpg);
//   background-size: cover;
//   height: 300px;
//   background-position: center;
//   background-color:rgba(255,255,255,0.8);
//   background-blend-mode:lighten;

footer {
  text-align: center;
}


// ユーザー機能
// アカウント作成
.signup_form  {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  h1 {
    font-size: 2rem;
  }
  label {
    margin: 0;
  }
  p {
    text-align: center;
  }
  .btn {
    background-color: #f60;
    color: white;
  }
}
// ログイン
.login_form {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  h1 {
    font-size: 2rem;
  }
  label {
    margin: 0;
  }
  p {
    text-align: center;
  }
  .btn-primary {
    background-color: #f60;
    color: white;
  }
  .signup_btn {
    background-color: #d6d6d640;
    border: .1px solid;
    border-radius: 4px;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
// ユーザー詳細
.user_prof {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  h3 {
    margin-bottom: 0;
  }
  .user-img-box {
    img {
      border-radius: 50%; 
      width:  180px; 
      height: 180px; 
    }
  }
  .user_intro {
    padding: 30px 50px 60px;
  }
  .user_noodles {
    ul {
      list-style: none;
      width: 100%;
      padding: 0;
      li {
        border-top: 1px dotted #ababab;
        padding: 10px 0;
        .intro {
          position: relative;
          .post_day {
            position: absolute;
            bottom: 0;
            right: 0;
        
          }
        }
      }
    }
  }
}

// ユーザー編集
.edit_form {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  h2 {
    text-align: center;
  }
  .gravatar {
    text-align: center;
    img {
      border-radius: 50%; 
      width:  120px; 
      height: 120px; 
    }
    p {
      margin-bottom: 0;
    }
    a {
      font-size: .8rem;
    }
  }
  label {
    margin: 0;
  }
  .btn {
    background-color: #f60;
    color: white;
  }
}


// ラーメン投稿
// ラーメン一覧
.noodles_index, .noodles_search {
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    .noodle_list {
      border-top: 1px dotted #ababab;
      padding: 10px 0;
      .noodle_user_info {
        text-align: right;
      }
    }
  }
  .btn {
    position: fixed;
    top: 70%;
    right: 10%;
    width:100px;
    height:100px;
    background:#f60;
    color: white;
    border-radius:100%;
    line-height: 80px;
  }
  
}


// ラーメン投稿・編集
.noodle_form {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  h2 {
    text-align: center;
  }
  
  label {
    margin: 0;
  }
  .btn {
    background-color: #f60;
    color: white;
  }
  .delete_btn {
    background-color: gray;
  }
  .need {
    color: red;
  }
}

// ラーメン詳細
.noodle_show {
  margin: 30px 0;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  .intro {
    table {
      tr {
        border-bottom: 1px solid #EAEDED;
      }
      th {
        width: 27%;
        text-align: right;
      }
    }
  }
  .noodle_user_info {
    text-align: right;
  }
  .comments {
    padding: 0;
    li {
      list-style:none;
      border-top: 1px dotted #ababab;
      padding-top: 10px;
      .user {
        display: flex;
        position: relative;
        margin-bottom: 16px;
        .post_day {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
      img {
        border-radius: 50%;
      }
      a {
        font-size: 20px;
      }
      .icon {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
.like-btn-unlike {
  // color: red;
  color: #f60;
}
.like-btn-like {
  color: grey;
}

a.like, a.unlike {
  text-decoration: none;
}

.favorites {
  list-style: none;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

// 通知
.notification {
  ul {
    list-style: none;
      width: 100%;
      padding: 0;
      li {
        border-top: 1px dotted #ababab;
        padding: 10px 0;
        img {
          border-radius: 50%;
        }
        .time {
          text-align: right;
        }
      }
  }
}