<header class="navbar navbar-fixed-top navbar-light">
 <div class="container">
   <%= link_to root_path do %>
    <i class="fas fa-utensils"></i> 家ラーメン
   <% end %>
   <nav>
     <ul class="nav navbar-nav">
       <li><%= link_to "家ラーメンとは", about_path %></li>
     </ul>
   </nav>
 </div>
</header>