<div class="row">
  <%= search_form_for @search do |f|%>
    <%= f.search_field :name_cont, placeholder: "蒙古タンメン" %>
    <%= button_tag(type: "submit" ,id: "search_button") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>

