<div class="row">
  <%= search_form_for @search do |f|%>
    <div class="input-group">
      <%= f.search_field :name_or_taste_cont, class: "form-control",placeholder: "蒙古タンメン" %>
      <span class="input-group-btn">
        <%= button_tag(type: "submit" ,id: "search_button", class: "btn") do %>
          <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</div>

